<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{_sections.title}}</title>
    <script defer src="/js/gen.js"></script>
    <script defer src="/js/index.js"></script>
    <link href="/css/gen.css" rel="stylesheet" />
    {{{_sections.style}}}
  </head>
  <body>
    <header>
      <section class="header">
        <div class="logo">
          <a href='/'> <img src="/img/logo2.png" width="910px" height="90px" alt="GHEALS TECH"/></a>
        </div>
        <ul>
            {{{_sections.headerLinks}}}
        </ul>
        {{#unless isUser.refreshTok}}
          <button>
            <a href='/login'>Sign In</a>
          </button>
        {{/unless}}
        {{#if isUser.refreshTok}}
          <a href="/profile"><img src='/img/user.svg' alt="profile" title="profile" /></a>
        {{/if}}
        <a href='#aside' class='mobile'><span></span></a>
      </section>
      {{{_sections.hero}}}
    </header>

      {{{_sections.main}}}
    

    <footer class="contact-us">
      {{!-- {{{_sections.footerLinks}}} --}} 
      <h1>Unlock your business potential with Gheals Tech's digital presence transformation</h1>
      <p>Sign up today and start your journey towards positive business transformation.</p>
      <section class='main'>
        <div>
          <h2>Gheals Tech</h2>
          <p class='msg'>
            Your business solution that helps redefine your business. With Gheals Tech, productivity and a better future in the digital space is guaranteed.
          </p>
          <p class='socials'></p>
          <button><a href=''>Get started</a></button>
        </div>
        <div class='links'>
        <section>
          <h2>Main pages</h2>
          <ul>
            <li><a href=''>Home</a></li>
            <li><a href=''>About</a><li>
            <li><a href=''>Contact</a></li>
            <li><a href=''>FAQ</a></li>
          </ul>
        </section>
        
        <section>
          <h2>Account Pages</h2>
          <ul>
            <li><a href=''>Login</a></li>
            <li><a href=''>Sign up</a></li>
            <li><a href=''>Reset password</a></li>
            <li><a href=''>Dashboard</a></li>
          </ul>
        </section>

        </div>
      </section>
      <hr noshade='' color='#3a3d41'/>

      <section class='foot'>
        <p>Copyright &copy;<date id='copy'></date></p> 
      </section>
        
    </footer>
    <div class="msg">
      <div>
        <img src="/img/logo1.png" alt="logo"/>
        <p class="main">

        </p>
        <p>
          <button>Yes</button>
          <button>No</button>
        </p>
        <p>POWERED BY <img src="/img/logo1.png" alt="logo"/></p>
      </div>
    </div>
  </body>
</html>
